# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd

pd.set_option('display.max_colwidth', None)
df = pd.read_csv('jeopardy.csv')

# Cleaning Data

In [2]:
# Removing extra spaces from column titles
df.columns = df.columns.str.replace(' ' ,'')

In [3]:
# Replacing column names
new_names = {'ShowNumber':'show_number', 'AirDate':'air_date', 'Round':'round', 'Category':'category',\
             'Value':'value', 'Question':'question', 'Answer':'answer'}
df.rename(columns = new_names, inplace=True)

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [4]:
# Function to return rows with questions containing certain words. Caveats of question_column entered in correct format, and two words
def quest_cont(dataset, question_column, words):
    kg = dataset[(question_column.str.contains(words[0]) & (question_column).str.contains(words[1]))]
    return kg
    
quest_cont(df, df['question'], ['King', 'England'])
# kg = df[(df['question'].str.contains('King')) & (df['question'].str.contains('England'))]
# kg.shape

,show_number,air_date,round,category,value,question,answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
14912,2832,1996-12-17,Jeopardy!,WORLD HISTORY,$100,"This country's King Louis IV was nicknamed ""Louis From Overseas"" because he was raised in England",France
21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",$1000,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,$400,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
27555,1799,1992-05-28,Double Jeopardy!,HISTORIC IN-LAWS,$600,This member of the Medici family was the mother-in-law of England's King Charles I,Marie de Medici
33294,5589,2008-12-18,Jeopardy!,THE BAYEUX TAPESTRY,$600,"(Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.) Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href=""http://www.j-archive.com/media/2008-12-18_J_08.jpg"" target=""_blank"">Stigant</a>, this archbishop, who performed the ceremony",the Archbishop of Canterbury
41148,5925,2010-05-21,Double Jeopardy!,TREATIES,$1600,"This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick",Louis XIV
41357,2751,1996-07-15,Jeopardy!,HISTORIC NAMES,$400,"England's King Henry VIII had 3 wives named Catherine: Catherine Howard, Catherine of Aragon & this one",Catherine Parr
43122,3937,2001-10-16,Double Jeopardy!,"OH, HENRY!",$400,The father of England's King Edward VI,Henry VIII
47814,4365,2003-07-18,Double Jeopardy!,POTIONS,$2000,This steak sauce was created for King George IV of England,A1
49994,5499,2008-07-03,Jeopardy!,REIGN DROPS,$1000,"Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553",Edward VI
51115,3574,2000-03-02,Jeopardy!,ALL THINGS BRITISH,$200,"(<a href=""http://www.j-archive.com/media/2000-03-02_J_22.jpg"" target=""_blank"">Alex Trebek reads from England.</a>) In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter",Magna Carta
51565,4264,2003-02-27,Double Jeopardy!,MUSIC APPRECIATION,$800,"He wrote several anthems, including ""The King Shall Rejoice"", for the coronation of England's King George II",George Frideric Handel
56600,3533,2000-01-05,Double Jeopardy!,FRENCH HISTORY,$600,This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133,Le Mans
57516,4299,2003-04-17,Double Jeopardy!,"THE ""UN""CATEGORY",$2000,Famous (& rather insulting) adjective for England's King Ethelred II,"""the Unready"""
58949,6250,2011-11-18,Double Jeopardy!,ASSUME THE POSITION,$2000,He became King of England in 1399 after forcing his cousin Richard II from the throne,Henry IV
71808,5270,2007-07-06,Jeopardy!,WHERE THERE'S A WILLIAM,$1000,"Number of the William who was England's ""Sailor King"" from 1830 to 1837",IV
74235,2757,1996-09-03,Jeopardy!,WORLD HISTORY,$200,Barons & churchmen drew up this 1215 document to reduce the power of England's King John,The Magna Carta
77195,3656,2000-06-26,Jeopardy!,JUNE 26,$400,"He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field",Richard III
79457,4230,2003-01-10,Double Jeopardy!,CONQUERORS,$800,"On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings",William the Conqueror
80113,5827,2010-01-05,Jeopardy!,"""M"" & ""M""",$1000,"England's King Charles II was known by this ""jovial"" nickname","""the Merry Monarch"""
84639,1558,1991-05-15,Jeopardy!,FILMS OF THE '90S,$200,"He went from second banana on ""Roseanne"" to top banana of England in ""King Ralph""",John Goodman
86412,1837,1992-09-08,Double Jeopardy!,ROYALTY,$400,This country's King Olaf V was born in England & was the grandson of King Edward VII,Norway
89710,5390,2008-02-01,Double Jeopardy!,"""CAN""NED WORDS",$1600,This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign,Canute
111926,1331,1990-05-21,Jeopardy!,"FILE UNDER ""M""","$1,000","It begins ""John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine....""",Magna Carta
118809,1905,1992-12-11,Jeopardy!,KINGS & QUEENS,$300,In French this King of England is called Guillaume le Conquerant,William the Conqueror
123299,4656,2004-11-29,Jeopardy!,CHAIRS,$400,"If you want to be crowned King of England, this rock has to be in your coronation chair",the Stone of Scone
123671,5718,2009-06-17,Jeopardy!,A YEAR ENDING IN '09,$1000,King Henry VII of England dies,1509
125822,4042,2002-03-12,Double Jeopardy!,"PAINT IT ""BLACK""","$5,000",Famous nickname of the eldest son of England's King Edward III,the Black Prince
127484,1325,1990-05-11,Double Jeopardy!,MEDIEVAL PEOPLE,$600,Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country,Denmark
127758,6021,2010-11-15,Jeopardy!,STATE FACTS,$600,This state was named for the King of England who reigned from 1727 to 1760,Georgia
129106,4906,2006-01-02,Double Jeopardy!,HISTORIC NICKNAMES,$2000,"King Edward I of England, who fought William Wallace, had this nickname relating to his height","""Longshanks"""
130208,5222,2007-05-01,Jeopardy!,ROYALTY,$600,"This ""Sun King"" sniffed, ""England is a little garden full of sour weeds""",Louis XIV
137818,3368,1999-04-07,Jeopardy!,PEOPLE IN HISTORY,$400,The last King William to rule England had this number after his name,IV
143434,1882,1992-11-10,Double Jeopardy!,ART,$800,This Flemish artist painted a unique triple portrait of England's King Charles I around 1637,Anthony van Dyck
150880,4790,2005-06-03,Double Jeopardy!,20th CENTURY BRITISH HISTORY,$1200,"During Stanley Baldwin's term as P.M., this King of England abdicated",King Edward VIII
165110,4255,2003-02-14,Jeopardy!,HIGH COUP,$1000,"The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I",Oliver Cromwell
165197,6272,2011-12-20,Double Jeopardy!,TOUCHED BY AN ANGEL,$2000,"The ""Angel of Hadley"" is said to have saved a New England town during the war with this Indian ""King""",King Philip
170007,5455,2008-05-02,Double Jeopardy!,THE SWEET 1600s,$1600,"In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England",William of Orange
174055,2143,1993-12-22,Double Jeopardy!,HISTORIC PEOPLE,$200,This conqueror was crowned King of England on Christmas Day 1066,William
175259,3055,1997-12-05,Double Jeopardy!,THE 1930s,$400,His short reign as King of England fell in in 1936,King Edward VIII
183462,3099,1998-02-05,Final Jeopardy!,ROYALTY,None,"A capital in the West Indies is named for this family name of William of Orange, King of England",Nassau
186239,5339,2007-11-22,Double Jeopardy!,EUROPEAN HISTORY,$800,"He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting",Richard the Lionheart
187651,5264,2007-06-28,Jeopardy!,CAPITALS OF THE WEST INDIES,$600,This Bahamian capital took its name from the family name of King William III of England,Nassau
191579,5453,2008-04-30,Jeopardy!,BATTLES,$800,England's King Harold II lost the all-important Battle of Hastings in this year,1066
192265,6292,2012-01-17,Double Jeopardy!,NORWAY'S CULTURE & HISTORY,$1600,"(<a href=""http://www.j-archive.com/media/2012-01-17_DJ_25.jpg"" target=""_blank"">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.",Edward VII
192966,6175,2011-06-17,Double Jeopardy!,HERO SANDWICH,$800,England's King _____ _____ R. Luce,John Henry
194516,6114,2011-03-24,Double Jeopardy!,THE YUCKS STOP HERE,$1600,"The ""Monty Python"" member who played King Arthur, he ended his grail quest in Maidstone, England",Graham Chapman
200369,2937,1997-05-13,Jeopardy!,BRITISH HISTORY,$200,8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country,Wales

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [5]:
def quest_contt(dataset, question_column, words):
    kg = dataset[(question_column.str.contains(words[0], case=False) & (question_column).str.contains(words[1], case=False))]
    return kg.question.tolist()

quest_contt(df, df['question'], [' King', 'England'])

['Both England\'s King George V & FDR put their stamp of approval on this "King of Hobbies"',
 'In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man',
 'This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt',
 'This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"',
 "It's the number that followed the last king of England named William",
 'This country\'s King Louis IV was nicknamed "Louis From Overseas" because he was raised in England',
 'There was good kinging in the 800s--Leo the Wise ruled the Byzantine Empire while England had Alfred the this',
 'In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus',
 "Name of 8 kings of England since 1272, it was also General Lee's middle name",
 'He was the only king of England to have "The Great" tacked on to his name',
 'this man and his son ruled England following the execution of King Charles I',
 'William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year',
 'This "unready" king of England lost most of his country to Sven Forkbeard, the king of Denmark',
 'This king of England was killed by a Norman arrow at the Battle of Hastings',
 'In 1066 he became the last Saxon king to rule England',
 "This member of the Medici family was the mother-in-law of England's King Charles I",
 "The IV king of this name (following the Norman Conquest) brought the House of York to England's throne",
 'This king of England was a leader of the Third Crusade',
 '(Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony',
 'Before he became king of England, George VI served in the Royal Navy & fought in the Battle of Jutland during this war',
 'They named a knot for this Duke who was briefly king of England',
 "This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick",
 "England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one",
 "The father of England's King Edward VI",
 'This steak sauce was created for King George IV of England',
 "Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553",
 '(<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter',
 'He wrote several anthems, including "The King Shall Rejoice", for the coronation of England\'s King George II',
 'While in England in 1760, John Hancock attended the coronation of this king',
 '(<a href="http://www.j-archive.com/media/2010-07-26_DJ_10.jpg" target="_blank">Jimmy of the Clue Crew reports from in front of the Bayeux Tapestry.</a>)  The tapestry opens in 1064 with this childless king on England\'s throne; 11th century sources say the <a href="http://www.j-archive.com/media/2010-07-26_DJ_10.jpg" target="_blank">meeting</a> is about naming his successor',
 "When England's Queen Anne died, this German became king because he was a great grandson of James I",
 "This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133",
 'He was the last of the 3 men who were king of England during 1066',
 "Famous (& rather insulting) adjective for England's King Ethelred II",
 'The only name shared by four consecutive kings of England',
 'He became King of England in 1399 after forcing his cousin Richard II from the throne',
 'In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as king of England',
 "In literature, restoration refers to the period after the return of this king to England's throne in 1660",
 'This king called "the Great" beat the Danes in 886 to keep all of England from being conquered',
 'This first Tudor king reigned on the throne of England',
 "Chronological lists of England's kings are missing 1649-1660, between 2 kings of this name",
 'In 1710 Handel was appointed kapellmeister to the elector of Hanover, this future king of England',
 'Number of the William who was England\'s "Sailor King" from 1830 to 1837',
 'This current king of Jordan received part of his education in England at Harrow & Sandhurst',
 "Barons & churchmen drew up this 1215 document to reduce the power of England's King John",
 'It\'s the rank of the character singing <a href="http://www.j-archive.com/media/2006-06-28_DJ_14.mp3">here</a>  <i>"I know the kings of England and I quote the fights historical / From Marathon to Waterloo, in order categorical"</i>',
 '11th century England had 2 kings with this name, one a Dane & one a Saxon',
 'He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field',
 'Henry II, who succeeded Stephen as king of England in 1154, was the first monarch from this "house"',
 'He called himself "king of Great Britain" after gaining England\'s throne in 1603--he was already king of Scotland',
 'On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings',
 'England\'s King Charles II was known by this "jovial" nickname',
 "England's last Lancastrian king, he was imprisoned & murdered in the Tower of London in 1471",
 'England had its last Saxon king',
 'The "rump" parliament wanted him to be the last king England would ever name',
 "This country's King Olaf V was born in England & was the grandson of King Edward VII",
 'This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign',
 'He was "the Confessor" king of England in the 11th century',
 'From 1714 to 1830 every king of England had this name',
 'Regent for his predecessor from 1811 to 1820, he was king of England on his own from 1820 to 1830',
 '"Carolus Stuardus" by Andreas Gryphius is about this executed king of England',
 'This king of England was the grandfather of Elizabeth I',
 'This Romantic began his "England in 1819", "An old, mad, blind, despised and dying king"',
 'It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."',
 'In 1191, Berengaria married this king of England in Limassol, Cyprus',
 'In French this King of England is called Guillaume le Conquerant',
 'Winchester, the county seat of Hampshire, was the capital of this Western Anglo-Saxon kingdom of England',
 'In this Twain tale, Tom Canty is a dead ringer for the future king of England',
 'If you want to be crowned King of England, this rock has to be in your coronation chair',
 'The first Hanoverian king born in England, he ruled for 60 years, from 1760 to 1820',
 "Famous nickname of the eldest son of England's King Edward III",
 '"More butcher than king in England" is seen as this leader born in 1599, 33 years after Nostradamus died',
 'Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country',
 'This state was named for the King of England who reigned from 1727 to 1760',
 'This "Sun King" sniffed, "England is a little garden full of sour weeds"',
 '1999: "Goodnight you princes of Maine, you kings of New England"',
 'The last King William to rule England had this number after his name',
 '1189,1377 &1483 are the 3 years the only 3 kings of England with this name each ascended the throne',
 'In 1191 this "Lion-Hearted" king of England captured Cyprus & Acre during the Crusades',
 'Dutch-born Protestant Prince William of Orange became king of England after this Catholic king was deposed & fled',
 'Anglo-Saxon legend says his third son Japheth is an ancestor of the kings of Wessex & England',
 "This Flemish artist painted a unique triple portrait of England's King Charles I around 1637",
 'In the late 800s, this king of Wessex prevented the Vikings from conquering all of England',
 'Ending an 800-year-old monarchy, in October this country became a republic & its last king, Manuel II, fled to England',
 'On his way back from failing to take Jerusalem in 1192, this king of England was captured & later ransomed',
 'The only king of England named Stephen was the grandson of this conqueror',
 'England had this many kings named Richard',
 "During Stanley Baldwin's term as P.M., this King of England abdicated",
 '2000 saw a fight in England over running the lottery, with this Virgin king at the forefeont',
 'Colchester, England was named for this legendary Celtic king immortalized in rhyme',
 'At the beginning of "A Tale of Two Cities", these 2 kings sit on the thrones of England & France',
 'This Dutch-born English king introduced gin to England as the "pouring spirit" in the palace at Hampton Court',
 'A translation of the Bible is named for this king of England & Scotland',
 'This king divorced the Church of England from the Catholic Church so that he could divorce the first of 6 wives',
 'The Glorious Revolution of 1688 brought this Dutchman to power as king of England, Scotland, & Ireland',
 'This Shakespeare title guy, the last Yorkist king of England, was beloved by the people of York',
 'The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I',
 'The last Anglo-Saxon king of England was killed in this battle',
 'In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England',
 "A breed of spaniel is named for England's second king of this name",
 'This conqueror was crowned King of England on Christmas Day 1066',
 'His short reign as King of England fell in in 1936',
 'He succeeded Henry II as king of England in 1189 & was himself succeeded by John in 1199',
 'Richard was crowned king of England at this place of worship',
 "1066: He's crowned king of England",
 'A capital in the West Indies is named for this family name of William of Orange, King of England',
 'By 878 the Vikings had conquered all of England except for this southern kingdom controlled by Alfred the Great',
 'He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting',
 'This Bahamian capital took its name from the family name of King William III of England',
 "This style influenced by the Romans is named for England's 4 kings between 1714 & 1830",
 'In January 1533 she secretly married the king of England',
 'The man who became king of England in 1066 was succeeded by this king in 1087',
 'On Jan. 28, 1547, after a physical & mental decline, this king of England was (surprisingly) survived by his wife Catherine',
 "England's King Harold II lost the all-important Battle of Hastings in this year",
 '1 of the first 5 kings of England',
 'On January 6, 1066, one day after Edward the Confessor died, he became king of England',
 '(<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway\'s Royal Palace. He and his second cousin, England\'s Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.',
 "England's King _____ _____ R. Luce",
 'The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England',
 'In 1714 the Prince of Hanover, who spoke little English, became king of England under this name',
 'In 1603 he became the first Stuart king of England',
 "England's Richard III was the last king of this ruling house",
 '8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country',
 'This monarch on whom the Magna Carta was forced has been called "the worst king ever to rule England"',
 'Popular Saint-Exupery character waiting around to become king of England',
 'This southern colony was named for a king of England, the II of that name',
 'Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish',
 'In 1781 William Herschel discovered Uranus & initially named it after this king of England',
 'His nickname was "Bertie", but he used this name & number when he became king of England in 1901',
 'This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric']

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [11]:
# replacing '$' in values with empty space
df['value'] = df['value'].str.replace('$', '', regex=True)
# replacing spaces in values with nothing
df['value'] = df['value'].str.replace(',', '')
# replacing 'None' values with nothing (to convert to float)
df['value'] = df['value'].str.replace('None', '')
df['value'] = pd.to_numeric(df['value'])
df

,show_number,air_date,round,category,value,question,answer
0,4680,2004-12-31,Jeopardy!,HISTORY,200.0,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,200.0,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,2000.0,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",2000.0,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,2000.0,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,2000.0,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,NaN,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

In [ ]:
# Function returning total value of all questions containing keyword.
def question_keyword_count(database, question_column, word):
    kc = database[question_column.str.contains((word), case=False)]
    return round(kc.value.mean(), 2)
                                         
question_keyword_count(df, df['question'], 'King')

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [ ]:
# Only takes one word
def question_keyword_unique_ans(database, question_column, word):
    db = database[question_column.str.contains((word), case=False)]
    return db.answer.value_counts()

question_keyword_unique_ans(df, df['question'], 'king')

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.